.App {
  height: 100vh;
}

.timer {
  color: white;
}

div.ui {
  border: 5px solid;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  height:50%;
  background-color: blue;
  margin: 20%;
  margin-top:0;
}